@import './reset.scss';

html {
  font-size: min(100vmax / 1920 * 100, 100px);
  @media (max-width: 768px) {
    font-size: min(100vmax / 768 * 100, 50px);
  }
}

// reset button style
button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: initial;
}

ion-icon {
  vertical-align: middle;
  color: inherit;
}
